* {
    padding: 0px;
    margin: 0px;
    background-size: cover;
    box-sizing: border-box;
}

@font-face {
    font-family: boldfont;
    src: url('<link href="https://fonts.googleapis.com/css2?family=Mitr:wght@500&display=swap" rel="stylesheet">');
}

:root {
    --cam: #FF7F50;
    --den: #494949;
    --xam: #dddddd;
    --opct: rgba(0, 0, 0, 0.6);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    background-color: white;
    font-family: sans-serif;
    width: 100%;
}

header {
    width: 100%;
    height: auto;
    position: relative;
}

h6 {
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 25px;
    color: white;
    text-align: justify;
}

/* header  */

/* header container */

.user-option {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(49, 49, 49);
    text-align: right;
    height: 30px;
}

.user-option li {
    list-style: none;
    line-height: 30px;
    margin-right: 40px;
}

.user-option li a {
    text-decoration: none;
    color: white;
}

.user-option li a:hover {
    color: var(--cam);
    border-bottom: 2px solid orange;
    padding-bottom: 1px;
    border-radius: 2px;
    transition: 0.5s;
}

.menu {
    display: flex;
    align-items: center;
}

.nav-row {
    width: 50%;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.nav-row li {
    line-height: 140px;
    min-width: 180px;
}

.nav-row li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.8rem;
    /* background-attachment: fixed; */
}

.nav-row li a:hover {
    color: var(--cam);
    text-shadow: 0 0 1px orange;
    transition: 0.8s;
}

.nav-row li>.menu-display .mini-menu {
    position: absolute;
    display: flex;
    width: 1519px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-evenly;
    background-color: #494949;
}

.nav-row li>.menu-display .mini-menu li {
    width: 30%;
    height: 500px;
    z-index: 2;
    position: relative;
    list-style-type: none;
}

.nav-row li>.menu-display .mini-menu li:hover {
    /* box-shadow: 0px 0px 25px white inset; */
    transition: 0.7s;
    opacity: 1;
}

.nav-row li>.menu-display .mini-menu li a {
    font-size: 45px;
    color: white;
    text-shadow: 3px 3px 3px black;
    position: absolute;
    bottom: 5%;
    right: 50%;
    transform: translateX(50%);
}

.nav-row li:hover>.mini-menu li {
    margin-bottom: 10%;
    color: var(--cam);
    z-index: 2;
    cursor: pointer;
}

.nav-row li>.menu-display .mini-menu li:hover a {
    color: var(--cam);
    text-shadow: var(--cam);
    transition: 0.7s;
    text-shadow: 0 0 5px black;
    margin-bottom: 40%;
}

.nav-row li a {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.nav-row li>.menu-display .giay-menu {
    position: absolute;
    display: flex;
    width: 1519px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-evenly;
    background-color: #494949;
}

.nav-row li>.menu-display .giay-menu li {
    width: 28%;
    height: 500px;
    z-index: 2;
    position: relative;
    list-style-type: none;
}

.nav-row li>.menu-display .giay-menu li:hover {
    /* box-shadow: 0px 0px 25px white inset; */
    transition: 0.7s;
    opacity: 1;
}

.nav-row li>.menu-display .giay-menu li a {
    font-size: 45px;
    color: white;
    text-shadow: 3px 3px 3px black;
    position: absolute;
    bottom: 5%;
    right: 50%;
    transform: translateX(50%);
}

.nav-row li:hover>.giay-menu li {
    margin-bottom: 10%;
    color: var(--cam);
    z-index: 2;
    cursor: pointer;
}

.nav-row li>.menu-display .giay-menu li:hover a {
    color: var(--cam);
    text-shadow: var(--cam);
    transition: 0.7s;
    text-shadow: 0 0 5px black;
    margin-bottom: 40%;
}

.menu-display {
    display: none;
}

.nav-row li:hover>.menu-display {
    display: block;
}

.moi {
    background-image: url(../img/Menu_Nam.jpg);
    opacity: 0.65;
    background-size: 100% auto;
    background-position-y: 50%;
    background-repeat: no-repeat;
}

.hot {
    background-image: url(../img/Menu_Nu.jpg);
    opacity: 0.65;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: 50%;
}

.sale {
    background-image: url(../img/Menu_Phu-kien.jpg);
    opacity: 0.65;
    background-size: 100% auto;
    background-position-y: 50%;
    background-repeat: no-repeat;
}

.nam {
    background-image: url(../img/nam.jpg);
    opacity: 0.65;
    background-size: 100% auto;
    background-position-y: 50%;
    background-repeat: no-repeat;
}

.nu {
    background-image: url(../img/pro_AGT0019_2-500x500.jpg);
    opacity: 0.65;
    background-size: 100% auto;
    background-position-y: 50%;
    background-repeat: no-repeat;
}

.sale-off-nav {
    background-image: url(../Img/Menu_Sale-off.jpg);
    opacity: 0.65;
    background-size: 100% auto;
    background-position-y: 50%;
    background-repeat: no-repeat;
}

.search {
    background-color: white;
    height: 61px;
    right: 6%;
    top: 50%;
    transform: translateY(-30%);
    padding-left: 1rem;
    position: absolute;
    display: flex;
    transition: 1.2s linear;
}

.icon-search {
    color: white;
    /* float: right; */
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--cam);
    align-items: center;
    justify-content: center;
}

.timkiem {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: black;
    font-size: 15px;
    transition: 0.8s;
    width: 0px;
}

.search:hover {
    border: 1px solid var(--cam);
    border-radius: 50px;
}

.search:hover>.icon-search {
    color: white;
    transform: rotate(1turn);
    transition: 1s;
}

.search:hover>.timkiem {
    animation: search 0.7s linear;
    animation-fill-mode: forwards;
}

.logo-header {
    width: 25%;
    height: auto;
    text-align: center;
}

.logo-header a{
    position: relative;
}

.container-mobile {
    display: none;
}

.quangcao {
    margin: 5px 0;
    z-index: 1;
    width: 100%;
    display: flex;
    height: 50px;
    line-height: 50px;
    background-color: var(--xam);
    justify-content: center;
    cursor: pointer;
}

.quangcao .quangcao-site {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.quangcao H3 {
    font-size: 1rem;
    color: var(--den);
}

.quangcao h3:hover {
    color: var(--cam);
}

.quangcao i {
    line-height: 50px;
    color: #888888;
}

.quangcao:hover i {
    color: var(--cam);
}


.slide{
    width: 100%;
}

.slide img{
    width: 100%;
}

.fixed ul li{
    color: gray;
    list-style-type: none;
    background-color:var(--cam);
    font-size: 32px;
    padding: 1px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 6px;
}

.fixed ul{
    transform: translateY(-50%);
    left: 0.1%;
    top: 50%;
    display: inline-block;
    position: fixed;
}

.fixed ul li a{
    color: whitesmoke;
}

.fixed ul li:hover{
    background: orange;
}

.tieude {
    margin: 30px 0px;
    width: 178px;
    height:82px;
    background-image: url(../img/news_discover.png);
    position: relative;
    transform: translate(-50%);
    left: 50%;
    margin-bottom: 20px;
    display: block;
    z-index: -1;
}

.container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: minmax(200px, auto);
    column-gap: 0.5rem;
    row-gap: 0.5em;
    margin: 50px 0;
    padding: 0 50px;
    z-index: -1;
}

.container h1{
    color: white;
    font-size: 2rem;
    letter-spacing: 2px;
}

.container h4{
    color: whitesmoke;
}

.container p{
    color: lightgrey;
    text-align: justify;
}

.box1{
    background-color: lightsalmon;
    grid-column: 1/3;
    grid-row: 1/3;
    background-image: url(../Img/lucky_about.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.box1 .information{
    position: absolute;
    bottom: 5%;
    left: 3%;
    padding: 1rem;
}

.box1 h1{
    margin-bottom: 15px;
}

.box1 h4{
    margin-bottom: 5px;
}

.box2{
    grid-column: 3/4;
    background-color: lightgreen;
    position: relative;
    background-image: url(../Img/VINTAS_about.jpg);
    background-position: center;
    background-size: cover;
}       

.information{
    color: white;
    bottom: 3%;
}

.information:hover h1{
    color: orange;
    cursor: pointer;
}


.information h1{
    font-size: 1.9REM;
}


.information a{
    color: orange;
}

.information a:hover{
    color: white;
}

.box2 .information{
    position: absolute;
    padding: 1rem;
}

.box3{
    background-color: lightpink;
    position: relative;
    background-image: url(../Img/Vintas-Temperate_desktop_about.jpg);
    background-position: bottom;
}


.box3 .information{
    position: absolute;
    padding: 1rem;
}


.box4{
    background-color: lightskyblue;
    position: relative;
    background-image: url(../Img/dog_about.jpg  );
}

.box4 .information{
    position: absolute;
    padding: 1rem;
}

.box5{
    background-color: lightsteelblue;
    grid-column: 2/4;
    position: relative;
    background-image: url(../Img/backgroundtieude_about.jpg);
    background-position: center;
}

.box5 .information{
    position: absolute;
    padding: 1rem;
    bottom: 3%;
}

.box5 h1{
    margin-bottom: 10px;
}



footer {
    width: 100%;
    height: auto;
    background-color: rgb(65, 65, 65);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    pad: 1rem;
}

footer h6 {
    margin-top: 10px;
}

.feedback {
    width: 40%;
    height: auto;
    float: left;
    font-size: xx-large;
    margin: 20px;
    color: rgb(221, 215, 215);
    margin-left: 3%;
}

.feedback h2 span {
    font-family: 'Bangers', cursive;
    letter-spacing: 4px;
}

.info {
    width: 45%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    font-size: xx-large;
    margin: 20px;
    position: relative;
    margin-top: 5%;
}

.info .lienlac {
    grid-column: 1/4;
}

.info .cr {
    grid-column: 1/4;
}

.lienlac {
    text-align: center;
}

.about {
    height: auto;
}

.about ul li a:hover {
    color: orange;
}

.contact ul li a:hover {
    color: orange;
}

.about ul p {
    padding-left: 30px;
    color: var(--xam);
}

.about ul li {
    list-style: none;
    margin-left: 30px;
}

.about ul li a {
    color: rgb(221, 215, 215);
    text-decoration: none;
    font-size: 20px;
}

.contact {
    display: inline-block;
}

.contact ul p {
    margin-left: 40px;
    color: var(--xam);
}

.contact ul li {
    list-style-type: none;
    margin-left: 40px;
}

.contact ul li a {
    text-decoration: none;
    color: rgb(221, 215, 215);
    font-size: 20px;
}

.social {
    display: inline-block;
    height: auto;
}

.social ul p {
    padding-left: 80px;
    color: var(--xam);
}

.social ul li {
    padding-top: 20px;
    display: inline-block;
    padding-left: 35px;
}

.social ul li a i {
    color: whitesmoke;
    font-size: 45px;
}

.social ul li a i:hover {
    color: orange;
}

#maps {
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
}

#maps:hover {
    color: orange;
    cursor: pointer;
}

.cr {
    text-align: center;
    color: rgb(221, 215, 215);
}

span {
    color: white;
}

@keyframes search {
    0% {
        width: 0px;
    }
    100% {
        width: 100px;
    }
}

@media only screen and (max-width: 1000px) {
    .container-pc {
        display: none;
    }
    .container-mobile {
        display: block;
        width: 100%;
    }
    .nav-mobile {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }
    .nav-mobile .logo-mobile {
        width: 30%;
        text-align: center;
    }
    .nav-mobile img {
        width: auto;
        height: 150px;
    }
    .nav-mobile .menu-mobile {
        top: 0;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.98);
        text-align: center;
        display: none;
    }
    .nav-mobile .menu-mobile p {
        font-size: 2rem;
        cursor: pointer;
        font-weight: bold;
    }
    .nav-mobile .menu-mobile p:hover {
        color: var(--cam);
    }
    .user-nav {
        width: 45%;
        display: flex;
        justify-content: space-evenly;
        font-size: 3rem;
        color: var(--cam);
        border-right: 1px solid lightgray;
        border-left: 1px solid lightgray;
        height: 100%;
        align-items: center;
    }
    .user-nav i {
        cursor: pointer;
    }
    #chk-menu {
        position: absolute;
        z-index: -9999;
        display: none;
    }
    .hien-menu {
        font-size: 3rem;
        color: var(--cam);
        cursor: pointer;
    }
    #chk-menu:checked~.menu-mobile {
        display: block;
    }
    .an-menu {
        position: absolute;
        color: white;
        top: 5%;
        right: 5%;
    }
    .an-menu i {
        font-size: 50px;
    }
    .an-menu i:hover {
        color: var(--cam);
        cursor: pointer;
    }
    .menu-mobile p {
        color: white;
        margin-top: 3rem;
    }
    .quangcao h3 {
        font-size: 0.8rem;
    }
    /* hết phần header ipad  */
    .sanpham {
        width: 95%;
        display: flex;
        justify-content: space-between;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
    }
    .sp-row1 {
        width: 49%;
        text-align: justify;
    }
    .sp-row1 a {
        font-size: 2rem;
        color: black;
        font-weight: bold;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .sp-row1 p {
        margin-top: 10px;
    }
    .sp-row1 img {
        width: 100%;
        height: auto;
        margin-bottom: 32px;
    }
    .sanpham i {
        margin-top: 25%;
    }
    #danhmuc {
        font-size: 2.5rem;
    }
    .danhmuc-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 150vh;
        justify-content: space-evenly;
    }
    .sp-row2 {
        width: 90%;
        height: 45vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .sp-row2:nth-child(1) {
        background-image: url(../Img/backgroundtieude.jpg);
    }
    .sp-row2:nth-child(2) {
        background-image: url(../Img/Vintas-Temperate_desktop.jpg);
    }
    .sp-row2:nth-child(3) {
        background-image: url(../Img/unnamed.jpg);
    }
    .opacity {
        width: 100%;
        height: 100%;
        background-color: var(--opct);
    }
    .sp-row2 .content-sp a {
        font-size: 2rem;
        font-weight: bold;
        color: white;
        text-shadow: 0 0 3px var(--den);
        display: none;
        margin: 0;
        padding: 0;
    }
    .sp-row2 .content-sp a:nth-child(1) {
        font-size: 3rem;
        display: block;
    }
    .sp-row3:nth-child(5) {
        display: none;
    }
    .sp-row3 {
        width: 30%;
        height: a;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .sp-row3 a {
        font-size: 1rem;
        color: black;
        font-weight: bold;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .sp-row3 img {
        width: 100%;
        height: auto;
    }
    .sp-khac {
        width: 90%;
        height: auto;
        margin: 40px auto;
        z-index: -1;
    }
    .sp-khac video {
        width: 100%;
        height: auto;
    }
    /* footer ipad */
    .info {
        width: 45%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
        font-size: xx-large;
        margin: 20px;
        position: relative;
        margin-top: 5%;
        grid-auto-rows: minmax(100, auto);
    }
    .social {
        margin-top: 20px;
        grid-row: 2/3;
        grid-column: 1/3;
        justify-self: center;
    }
    .lienlac {
        grid-row: 3/5;
    }
}

@media only screen and (max-width: 500px) {
    .mini-banner {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sp-row1 {
        width: 100%;
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sp-row1 a {
        font-size: 1.8rem;
        color: black;
        font-weight: bold;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .sp-row1 p {
        margin-top: 10px;
        font-size: 20px;
    }

    .sp-row1 img {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
        margin-top: 50px;
    }

    #danhmuc {
        font-size: 2rem;
    }

    .sp-row2 .content-sp {
        width: 100%;
        margin-top: 20px;
    }
    
    .sp-row3:nth-child(4) {
        display: none;
    }

    .sp-row3 {
        width: 40%;
        height: auto;
        text-align: center;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .sp-row3 a {
        font-size: 1rem;
        color: black;
        font-weight: bold;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .sp-row3 img {
        width: 100%;
        height: auto;
    }

    .sanpham i{
        margin-top: 32%;
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    .feedback{
        width: 90%;
        margin: 30px auto;
        margin-bottom: 0;
    }

    .feedback h2{
        text-align: center;
    }

    .info {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .info ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .info ul p{
        font-size: 2.5rem;
        margin-left: 0;
    }

    .info ul li{
        margin-left: 0;

    }

    .contact{
        grid-row: 2/2;
        grid-column: 1/2;
    }

    .social ul{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        margin-top: 10px;
    }
    
    .social ul strong{
        grid-column: 1/4;
        text-align: center;
    }

    .social ul p {
        padding-left: 0;
    }

    .social ul li {
        padding: 0;
        margin: 15px;
    }
}